<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


<a class="footer" href="https://www.linkedin.com/in/martin-thibaut-00b309198/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
<a class="footer" href="https://github.com/maaart1" target="_blank"><ion-icon  name="logo-github"></ion-icon></a>
<a class="footer" href="mailto:martin.thibaut.pro@outlook.com" target="_blank"><ion-icon name="mail-open"></ion-icon></a>