<link rel="stylesheet" href="../css/index.css" />
<nav>
  <a href="/">Home</a>
  <a href="#">Cursus</a>
  <a href="#">Expérience</a>
  <a href="/about">À propos</a>
  <a href="#">Contact</a>
  <div class="animation start-home"></div>
</nav>

<h1>About me !</h1>
