<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<header>
    <%- include("./layouts/navbar.ejs") %>
</header>

<body>
<h1>Hi, i'm Martin !</h1>
<main>
    <h4>A alternating student in computer engineering</h4>
</main>
</body>
<footer>
    <%- include("./layouts/footer.ejs") %>
</footer>
</html>
