<nav>
    <a class="navbar" href="/">Home</a>
    <a class="navbar" href="/school">School Curriculum</a>
    <a class="navbar" href="/experience">Professional Experience</a>
    <a class="navbar" href="/about">About</a>
</nav>